<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 product-logo text-center">
                {{ range .products_icon }}
                <a class="text-muted" href="{{.url}}" target="_blank">
                    <img src="{{.image | absURL}}">
                </a>
                {{ end }}
            </div>
            <div class="col-md-3 col-6">
                <h5 class="our-product">{{ .our_products.title }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .our_products.links }}
                    <li>
                        <a class="text-muted" href="{{ .url }}" target="_blank">{{ .title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="work">{{ .work.title }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .work.links}}
                    <li>
                        <a class="text-muted" href="{{ .url }}">{{ .title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="work">{{ .resources.title }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .resources.links}}
                    <li>
                        <a class="text-muted" href="{{ .url }}">{{ .title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="work">{{ .tnp.title }}</h5>
                <ul class="list-unstyled text-small">
                    {{ range .tnp.links}}
                    <li>
                        <a class="text-muted" href="{{ .url }}">{{ .title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-12 text-center pt-5 pb-2">
                <p class="mb-3 text-muted">{{ .copyright | safeHTML }}</p>
            </div>
        </div>
    </div>
</footer>