<section id="who-we-are" class="text-center">
    <div class="container">
        <h2>{{.title}}</h2>
        <div class="row justify-content-center align-items-centerr mb-5">
            <div class="col-md-8">
                <p>{{.text}}</p>
            </div>
            <div class="w-100"></div>
            {{ range .boxes }}
            <div class="col-md-4 mb-5">  
                <div class="feature-box media p-3">
                    <div class="media-body">
                        <h5>{{.title}}</h5>
                        <img src="{{.image | absURL}}">
                        <p>{{ .text }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>