<section id="tutors" class="text-center product">
    <div class="container">
        <div class="row">
            <div class="col-md-6 product-img">
                <img src="{{.image | absURL}}"></img>
            </div>
            <div class="col-md-6 p-0 product-content">
                <div class="product-text">
                    <h1>{{.title}}</h1>
                    <p>{{.description}}
                    </p>
                    <a href="{{.url}}" target="_blank">{{.button_text}}</a>
                </div>
            </div>
        </div>
    </div>
</section>