body {
  font-family: 'Proxima Nova', 'proxima-nova', sans-serif;
}

img {
  max-width: 100%;
}

section h1 {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 62, 63, 0.8);
  margin: 25px;
}

section p {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(115, 233, 241, 0.5);
  margin: 30px auto;
}

nav {
  background-image: linear-gradient(to bottom, #fff, #ecf1f5), linear-gradient(to bottom, #fff, #fff);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}

nav .logo {
  width: 137px;
  height: 29px;
  margin: 10px 0 9px 0;
}

nav ul li a {
  padding: 20px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: rgba(29, 47, 51, 0.5);
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #31a4b2;
  text-decoration: none;
}

nav .action a.button {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 25px;
  text-decoration: none;
  color: rgba(29, 47, 51, 0.5);
}

nav .action a.button.outline {
  color: #31a4b2;
  border-radius: 2rem;
  border: 1px solid #31a4b2;
  padding: 10px 40px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .action a.button.outline:hover {
  color: #fff;
  background-color: #31a4b2;
}

.hero {
  margin-top: 65px;
  background: #52c0d8;
}

.hero .boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #52c0d8;
  width: 100%;
  padding: 80px 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero .boxes .pricing-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2rem;
  background: #fff;
  border: solid 2px #31a4b2;
  max-width: 260px;
  padding: 20px;
  margin: 20px 16px;
  width: 260px;
}

.hero .boxes .pricing-box h1 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 62, 63, 0.8);
  margin-bottom: 0;
}

.hero .boxes .pricing-box span {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 62, 63, 0.8);
}

.hero .boxes .pricing-box p {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(47, 62, 63, 0.5);
}

.hero .boxes .pricing-box .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 120px;
}

.hero .boxes .pricing-box .price .currency {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  align-self: end;
  font-size: 15px;
  padding: 6px 0;
}

.hero .boxes .pricing-box .price .main {
  font-size: 30px;
}

.hero .boxes .pricing-box .price .extra {
  font-size: 12px;
}

.hero .boxes .pricing-box .button {
  text-align: center;
  position: relative;
  z-index: 0;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-kerning: none;
  user-select: none;
  width: 100%;
  margin-top: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2rem;
  background: #31a4b2;
  color: #fff;
  -webkit-box-shadow: 0 0 15px -5px rgba(80, 155, 198, 0.5);
  box-shadow: 0 0 15px -5px rgba(80, 155, 198, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
  border: 1px solid #31a4b2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 14px;
}

.hero .boxes .pricing-box a.button:hover {
  background: #fff;
  color: #31a4b2;
  border: 1px solid #31a4b2;
}

.hero .boxes .pricing-box .badge {
  position: absolute;
  top: -10%;
  right: -10%;
  border-radius: 50%;
  background: #ffb403;
  color: #fff;
  padding: 10px;
  width: 95px;
  height: 95px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
}

.hero .boxes .pricing-box .badge span {
  font-size: 18px;
  display: block;
  color: #fff;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.features .p-table {
  min-width: 70%;
  margin: 30px 0;
}

.features .p-table .c-row {
  flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.features .p-table .c-row:nth-child(even) {
  background: #f9fafc;
}

.features .p-table .c-row .cell {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  max-width: 33%;
  font-size: 14px;
}

.features .p-table .c-row .cell:first-child {
  text-align: left;
}

.features .p-table .c-row .cell:last-child {
  color: #31a4b2;
}

.features .p-table .c-row.head {
  font-weight: 700;
  margin-bottom: 10px;
}

.features .p-table .c-row.head .cell {
  font-size: 16px;
  color: #000;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
  margin: 0;
  background-color: #f8fafb;
}

footer .products {
  margin: 15px;
}

.scroll-up-arrow img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15px;
  margin-top: 12px;
}

footer .products img {
  padding: 10px;
  height: auto;
}

footer .navigation {
  margin: 15px auto;
}

footer .navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none;
}

footer .navigation ul li {
  padding: 0 25px;
}

footer .navigation ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: rgba(29, 47, 51, 0.5);
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

footer .copyright {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.19;
  letter-spacing: normal;
  text-align: center;
  color: rgba(29, 47, 51, 0.5);
}

.scroll-up-arrow {
  position: fixed;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  bottom: 40px;
  right: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 100;
}

@media (max-width: 991.98px) {
  .product-logo {
    margin: 20px auto;
    max-width: 26vw;
  }
}

@media (max-width: 481px) {
  .action {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
  }
}
